h1{
  text-align: center;
}
body{
  background-image:url(images/screaming.jpeg);
  background-size: cover;
}
.jumbotron{
    background-color: rgba(39, 225, 86, 0.44) !important;
      /*opacity:0.5;*/
  }
.bknd{
  background-color: rgba(39, 225, 86, 0.8);
}

.bold {
  font-weight: bold;
  color:blue;
  font-size: 30px;
}

.italic{
  font-style:italic;
  color:purple;
  font-size: 30px;
  }
.green{
  color:green;
  font-stretch: ultra-expanded;
  font-size: 40px;

}
